/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "jedi";
  src: url(assets/fonts/Starjedi.ttf);
}


html, body { height: 100%; }
body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: 'jedi', Roboto, "Helvetica Neue", sans-serif;
  background-color: black;
}



